.Loader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoadGif{
  height: 200px;
  width: auto;
  background-size: cover;
}

.Waiting{
  font-weight: bold;
}

h1{
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 2rem;
  margin-bottom: 4rem;
  color: #1D74FF;
}

h3{
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 10px;
  min-height: 40px;
  color: #1d74ff;
}

b{
  font-weight: bold;
}

.Err{
  color: red;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
}

.Ticker {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  height: fit-content;
  min-height: 55vh;
}

.PairView{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  min-width: 220px;
  margin: 10px;
  background-color: #1D74FF;
  color: white;
  transition: 0.5s;
}

p{
  word-break: break-all;
}

.PairContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.InfoView{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  text-align: center;
  border: none;
  margin: 5px;
}

.DelButton{
  height: 15px;
  width: 15px;
  border: none;
  padding: 0;
  background: url("img/del.png");
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}

.GraphButton{
  height: 15px;
  width: 15px;
  border: none;
  padding: 0;
  background: url("img/graph.png");
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}

.GraphModeButton{
  border: none;
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
}

.AddPair{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  min-height: 40px;
  width: 220px;
  padding: 0;
  margin: 10px;
  border: 2px solid #1D74FF;
  cursor: text;
}

.PairInput{
  text-align: center;
  border: none;
  width: 150px;
  padding-left: 20px;
  margin: 5px;
  border-radius: 0;
}

canvas{
  margin: 25px;
}

.PairInput:focus{
  outline: none;
  border-radius: 0;
}

.AddButton{
  height: 15px;
  width: 15px;
  border: none;
  padding: 0;
  margin: 0;
  background: url("img/plus2.png");
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}

.Storage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border: none;
  background-color: transparent;
}

.StorageButton{
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1D74FF;
}

@media only screen and (min-width: 600px) {
  .AddButton:hover{
    transform: scale(1.2);
  }

  .DelButton:hover{
    transform: scale(1.2);
  }  

  .GraphButton:hover{
    transform: scale(1.2);
  } 

  .StorageButton:hover{
    font-weight: bold;
  }

  .Ticker{
    flex-wrap: wrap;
    height: 75vh;
  }

  .GraphModeButton:hover{
    font-weight: bold;
  }
}